body{
   justify-content: center;
   display: flex;
   align-items: center;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#Box1{
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    text-align: center;
}
#Box2{
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    text-align: center;
}
/* animação do fedidin (fadein BOX1) */
.fade-in{ animation: fadeIn 1s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
form{
    text-align: left;
}
h1{
    text-align: center;
    margin-bottom: 5%;
    color: rgb(33, 33, 33);
}
button{
    font-size: medium;;
    width: 100%;
    height: 50px;
    border-width: 0px;
    background-color: rgb(90, 0, 0);
    color: white;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(10, 0, 0);
}
input{
    margin-bottom: 5%;
    width: 100%;
    height: 30px;
    background-color: rgb(238, 238, 238);
    border: 0px;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 6%;
}
h3{
    margin-bottom: 3%;
}
#videobg
{  
    position: fixed;   
    right: 0;   
    bottom: 0;   
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
#overlayzinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
select{
    margin-bottom: 5%;
    width: 100%;
}
#Popup{
    z-index: 1;
    position: fixed;
    background-color: white;
    padding: 2%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    border-radius: 20px;
    display: none;
}
.grow {
    animation: grow 0.5s ease infinite;
    animation-iteration-count: 1;
  }
  @keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
#fecharPopup{
    width: 100%;
}
#Popup h2{
    color: rgb(0, 187, 0);
}
#iconeErro{
width: 20px;
height: 20px;

}
input:focus{
    outline: none;
}
p{
    margin-top: -6%;
    text-align: right;
    font-size: small;
    color: rgb(146, 0, 0);
    display: none;
}
#BoxAccounts{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#contasCadastradas{
 width: 70%;
}
#acoes{
    width: 30%;
    flex-wrap: nowrap;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#boxircadastrar{
    width: 50%;
}
#boxrecarregar{
    width: 50%;
}
#boxrecarregar button{
    background: none;
    border-color: rgb(90, 0, 0);
    border-width: 3px;
    color: rgb(90, 0, 0);
    border-style: solid;
}
#divtabela{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(245, 245, 245);
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    margin-top: 20px;
}
#ptabela{
    display: block;
    text-align: left;
}
#h1tabela{
    text-align: left;
}
table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: rgb(90, 0, 0);
	}
}
td, tr{
    color: rgb(27, 27, 27);
    font-weight: bold;
}
.status{
    border-radius: 10px;
    padding: 12px, 16px;
    font-size: 14px;
    background: red;
    color: blue;
}
.status.error{
    background: yellow;
    color: purple;
}


